$main-color: #1428a0;
$bg-color: #f2f5ff;
$sub-color: #1c9c9e;
$font-color: #111;
$gray-color: #eee;

$font-extra-large: 54px;
$font-large: 42px;
$font-medium: 24px;
$font-normal: 16px;
$font-small: 12px;
